.applenav{
    list-style: none !important;
}
.Applegiftext{
    position: relative !important;
    bottom: 170px !important;
    left: 600px !important;
}
.Appleshop{
    position: relative !important;
    bottom: 170px !important;
    left: 650px !important;
}
